@import 'theming-mixin';

.themeByStylsheets {
  color: red;

  &--modifier {
    color: blue;
  }
}

.themeByMixin {
  color: red;

  &--modifier {
    color: blue;
  }

  @include themeByMixin--extend;
}
