@import 'sui-base';

$shiro: #ffffff;
$small-font-size: 14px;
$large-font-size: 20px;
$color-default: #666666;
$color-disabled: $shiro;
$color-primary: $shiro;
$color-alert: $shiro;
$border-width: 1px;
$border-color: transparent;
$border-style: solid;
$bg-color: #d5e1e5;
$bg-color-primary: #2088c2;
$bg-color-disabled: grey;
$bg-color-alert: #bf2102;
$bg-color-hover: #bac7cc;
$bg-color-primary-hover: #00699b;
$bg-color-alert-hover: darken(#bf2102,10%);
$height: 30px;
$height-large: 42px;
$line-height: 28px;
$line-height-large: 40px;
$padding-reset: 0;
$padding-base: 10px;
$padding-reset: 0;
$padding-large: 20px;
$font-family: Arial;
