@import 'sui-base';

$border-small: 1px;

$sui-btn-small-font-size: $small-font-size;
$sui-btn-large-font-size: $large-font-size;
$sui-btn-color-default: $c-gray-dark;
$sui-btn-color-disabled: $c-bg-light;
$sui-btn-color-primary: $c-bg-light;
$sui-btn-color-alert: $c-bg-light;
$sui-btn-border-width: $border-small;
$sui-btn-border-color: $c-bg-transparent;
$sui-btn-border-style: solid;
$sui-btn-bg-color: $c-gray-lighter;
$sui-btn-bg-color-primary: $c-gray-dark;
$sui-btn-bg-color-disabled: $c-gray-extralighter;
$sui-btn-bg-color-alert: $c-danger;
$sui-btn-bg-color-hover: $c-gray-light;
$sui-btn-bg-color-primary-hover: $c-bg-dark;
$sui-btn-bg-color-alert-hover: darken(#bf2102,10%);
$sui-btn-height: 30px;
$sui-btn-height-large: 42px;
$sui-btn-line-height: 28px;
$sui-btn-line-height-large: 40px;
$sui-btn-padding-reset: 0;
$sui-btn-padding-base: 10px;
$sui-btn-padding-reset: 0;
$sui-btn-padding-large: 20px;
$sui-btn-font-family: Arial;
