@import '../themes/sui';

// VARIABLES
// ----------------------------------------------------------------------------
  $sui-btn-background: #333333 !default;
  $sui-btn-background--hover: #666666 !default;
  $sui-btn-color: #ffffff !default;
  $sui-btn-border-color: transparent !default;

  $sui-btn-font-family: 'Arial', 'Helvetica', sans-serif !default;
  $sui-btn-font-size: 1rem !default;

  $sui-btn-height: 2.5rem !default;
  $sui-btn-padding-vertical: .5rem !default;
  $sui-btn-padding-horizontal: 1rem !default;

  // Disabled
  $sui-btn-background--disabled: #cccccc !default;

  // Small
  $sui-btn-font-size--small: .75rem !default;
  $sui-btn-height--small: 2rem !default;
  $sui-btn-padding-horizontal--small: .75rem !default;

  // Big
  $sui-btn-font-size--big: 1.25rem !default;
  $sui-btn-height--big: 3.5rem !default;


// COMPONENT
// ----------------------------------------------------------------------------
.sui-Btn {
  background-color: $sui-btn-background;
  border-style: solid;
  border-color: $sui-btn-border-color;
  border-width: 1px;
  color: $sui-btn-color;
  cursor: pointer;
  display: inline-block;
  font-family: $sui-btn-font-family;
  font-size: $sui-btn-font-size;
  line-height: $sui-btn-height - ($sui-btn-padding-vertical * 2);
  position: relative;
  padding-top: $sui-btn-padding-vertical;
  padding-bottom: $sui-btn-padding-vertical;
  padding-left: $sui-btn-padding-horizontal;
  padding-right: $sui-btn-padding-horizontal;
  text-decoration: none;
  white-space: nowrap;
  height: $sui-btn-height;

  &:hover {
    background-color: $sui-btn-background--hover;
  }

  &.is-disabled,
  &[disabled] {
    background-color: $sui-btn-background--disabled;
    cursor: default;
  }

  &--small {
    font-size: $sui-btn-font-size--small;
    line-height: $sui-btn-height--small - ($sui-btn-padding-vertical * 2);
    padding-left: $sui-btn-padding-horizontal--small;
    padding-right: $sui-btn-padding-horizontal--small;
    height: $sui-btn-height--small;
  }

  &--big {
    font-size: $sui-btn-font-size--big;
    line-height: $sui-btn-height--big - ($sui-btn-padding-vertical * 2);
    height: $sui-btn-height--big;
  }

  @include sui-Btn-extend;
}


