@import 'vars'; // boilerplate

.sui-Btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-width: $sui-btn-border-width;
  border-color: $sui-btn-border-color;
  border-style: $sui-btn-border-style;
  font-size: $sui-btn-small-font-size;
  font-weight: normal;
  height: $sui-btn-height;
  line-height: $sui-btn-line-height;
  font-family: $sui-btn-font-family;
  color: $sui-btn-color-default;
  padding-top: $sui-btn-padding-reset;
  padding-right: $sui-btn-padding-base;
  padding-bottom: $sui-btn-padding-reset;
  padding-left: $sui-btn-padding-base;
  background-color: $sui-btn-bg-color;
  cursor: pointer;
  width: auto;
  overflow: visible; // fix horizontal space in tag button, ie
  -webkit-appearance: none;
	vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0;
  white-space: nowrap;

  &:hover {
    transition: all 0.3s ease-in-out 0s;
    background-color: $sui-btn-bg-color-hover;
  }

  &.is-disabled,
  &[disabled] {
    background-color: $sui-btn-bg-color-disabled;
    color: $sui-btn-color-disabled;
    cursor: default;

    &:hover {
      background-color: $sui-btn-bg-color-disabled;
    }

  }

  &--large {
    font-size: $sui-btn-large-font-size;
    height: $sui-btn-height-large;
    line-height: $sui-btn-line-height-large;
    padding-top: $sui-btn-padding-reset;
    padding-right: $sui-btn-padding-large;
    padding-bottom: $sui-btn-padding-reset;
    padding-left: $sui-btn-padding-large;
  }

  &--primary {
    color: $sui-btn-color-primary;
    background-color: $sui-btn-bg-color-primary;

    &:hover {
      background-color: $sui-btn-bg-color-primary-hover;
    }

  }

  &--alert {
    color: $sui-btn-color-alert;
    background-color: $sui-btn-bg-color-alert;

    &:hover {
      background-color: $sui-btn-bg-color-alert-hover;

    }

  }

}
